.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.no-bullet {
  margin: 0;
  padding: 0;
}
.no-bullet li {
  list-style: none;
}
/* ===== Primary Styles ========================================================
   Author: @apnerve
   ========================================================================== */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #777;
  background-color: #c0c3c6;
}
.profile {
  background: #069;
}
/*
.brief {
  background: rgba(0,0,0,0.6);
  height: 60px;
  z-index: 2;
  position: relative;
  margin-bottom: 0;
}
.cover {
  height: 380px;
  background: #fff;
  margin-top: -60px;
}
.bio {
  height: 90px;
  background: #fff;
} */
.navbar {
  margin-top: 60px;
  margin-bottom: 88px;
}
.navbar-inner {
  background: url('../img/bg-bar.png') repeat-x;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* sprites */
.sprite > li > a {
  text-indent: -999999px;
  background: url('../img/sprite-bar.png') no-repeat center;
  height: 42px;
  width: 16px;
  display: inline-block;
  margin-right: 10px;
}
#create-feed {
  background-position: 0 center;
  margin: 0;
}
#home {
  background-position: -48px center;
}
#myfeed {
  background-position: -90px center;
}
#topsqwags {
  background-position: -130px center;
}
/* logo */
.logo {
  width: 150px;
  padding: 6px 0;
  margin: auto;
}

/* square */
.sqwag {
  height: 200px;
  background: #fff;
  border: 1px solid #999;
  padding: 9px;
  margin-top: 20px;
}
/* sqwags */
.sq-text {
  background-color: #dff0d8;
  border-color: #cde8c2;
}
.sq-tweet {
  background-color: #9ae4e8;
  border-color: #81dde2;
}
.sq-spottify {
  background-color: #4da400;
  border-color: #3f8500;
}
.sq-image {
  padding: 0;
  border: 0;
  height: 220px;
}
.sq-profile {
  height: 260px;
  margin-top: -40px;
}

.sq-user {
  padding: 0;
  height: 220px;
  width: 220px;
}
.sq-user > .island > .hd,
.sq-user > .island > .bd,
.sq-user > .island > .ft {
  padding: 9px;
}
.sq-user > .island > .hd {
  background: #ccc;
}

.username {
  font-size: 14px;
  line-height: 1.2;
}
.handle {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}

.sqwag-info .value {
  display: block;
}

.avatar {
  border-radius: 5px;
}
/* =island */
.island {
  position: relative;
  height: 100%;
}
.island > .bd {
  margin: 16px 0;
}
.island > .ft {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sq-image .ft {
  bottom: 10px;
  left: 10px;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: -10px;
  padding: 6px;
  display: none;
}
.sq-image .mask,
.sq-user .mask {
  margin: 0;
}
.buttons-group {
  position: relative;
  bottom: -10px;
}
button {
  background: #f2f2f2;
  border: 1px solid #ccc;
}
/* =media */
.media {
  *zoom: 1;
}
.media:before, .media:after {
  display: table;
  content: "";
}
.media:after {
  clear: both;
}
.media-obj {
  float: left;
  margin-right: 10px;
}
.media-obj-alt {
  float: right;
  margin-left: 10px;
  margin-top: 6px;
}
.media-bd {
  float: left;
}

.user-card .media-bd {
  text-align: right;
}

.user-card img {
  box-shadow: 0 0 10px #000 inset;
}
.action-links {
  margin: 0;
  padding: 0;
}
.action-links li {
  list-style: none;
}
.action-links li {
  display: inline-block;
}
.action-links a {
  color: #fff;
  text-decoration: none;
}
.action-links li:after {
  content: " ·";
  color: #fff;
}
.action-links li:last-child:after {
  content: "";
}
/* =elements */
p {
  font: 11px/1.2 verdana, arial;
  margin: 0;
}
img {
  max-width: 100%;
}
/* =overrides */
.modal form {
  margin-bottom: 0;
}
.navbar .nav > li > a {
  line-height: 34px;
}
.navbar .divider-vertical {
  height: 63px;
  background-color: rgba(0,0,0,0.4);
  border: 0;
  width: 6px;
}
.navbar .nav.pull-right {
  margin-right: 26px;
}
.dropdown.open .dropdown-toggle { background: url("../img/sprite-bar.png") no-repeat scroll center center transparent;}
.copyright {
  text-align: center;
}

/* =lists */
.inline-list {
  list-style: none;
  overflow: hidden;
  margin: 0;
}
.inline-list li {
  float: left;
  margin-right: 54px;
}
.inline-list li:last-child {
  margin-right: 0;
}

/* =profile */
.profile-pic {
  margin-top: -30px;
}
.profile-hd {
  margin-top: -10px;
}

.sqwag-count-wrap {
  color: #fff;
}
.sqwag-count {
  display: block;
}

/* =helpful */
.fl {
  float: left;
}
.fr {
  float: right;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.hidden {
  display: none;
}
.slide-out-div {
    padding: 16px;
    width: 280px;
    height: 116px;
    background: #ccc;
    border: 1px solid #999;
}      

#main {
  margin-top: 80px;
  position:relative;
}
#sqwag-bar {
  height: 40px;
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  top: -40px;
}
#profile {
  margin-left:-20px;
}
#feedback {
  height: 100px;
}
.handle {
  cursor: pointer;
}

.tagline {
  display: block;
}
/* ===== Landing page Styles ===== */
body{background:url(../img/bg_pattern.png) repeat;}
.container{width:995px;}
#landing_pg_wrap{clear:both;width:100%;position:relative;}
#main_nav{float:right;}
#main_nav ul{clear:both;overflow:hidden;list-style-type:none;}
#main_nav ul li{list-style-type:none;float:left;}
#main_nav ul li a{float:left;font:bold 12px/17px helvatica , Arial;color:#838282;padding-left:25px;}
.logo_blk{position:absolute;left:14px;top:12px;z-index:11;}
.logo_blk a{display:block;}
.cnt_wrap{clear:both;overflow:hidden;width:100%;margin-bottom:10px;}
.banner_blk{float:left;background:url("../img/banner.jpg") no-repeat scroll 0px 0px;width:493px;height:304px;clear:both;overflow:hidden;position:relative;}
.banner_txt{position:absolute;background:#000;opacity:0.8;filter: alpha(opacity=80);color:#fff;font-size:13px;padding-left:10px;bottom:0px;font:bold 14px/37px Arial;width:483px;}
.login_blk{position:absolute;top:26px;background:rgba(0,0,0,0.6);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";height:59px;width:100%;z-index:10;}
.login_blk_left{float:left;padding-left:180px;}
.login_blk_left h1{font-size:19px;font-weight:bold;color:#fff;line-height:30px;}
.login_blk_left p{color:#fff;font-size:13px;}
.login_blk_right{float:right;width:490px;background:#222121;margin:3px;height:52px;}
.login_blk_right input{margin:0px 5px 0px 0px;}
.login_blk_right input[type="text"],.login_blk_right input[type="password"]{float:left;width:183px;background:#fff;border:1px solid #ccc;height:24px;line-height:24px;padding:0px 0px 0px 10px;color:#aaa;font-size:12px;font-weight:bold;}
.form_wrap{clear:both;overflow:hidden;padding:5px 5px 2px 9px;width:400px;float:left;}
.form_wrap label{display:none;margin:0px;}
.login_blk_right input[type="checkbox"]{clear:both;float:left;margin:3px 5px 0px 0px;}
.form_wrap label.remember_me_label{font-size:11px;display:block;float:left;color:#fff;}
.form_sbt_wrap{float:left;}
.form_sbt_wrap input{border:1px solid #070606;background:url("../img/btn_bg.png") repeat-x;height:29px;margin:4px 0;width:72px;color:#fff;line-height:35px;font:bold 14px/29px Arial;}
a.forgot_pwd_link{padding-left:115px;color:#fff;font-size:11px;}
.register_blk{float:right;width:490px;margin:65px 0px 0px 10px;border:1px solid #ccc;}
.register_blk form{margin:0px;}
.register_blk_hd{background:#424242;height:36px;}
.register_blk_hd h2{font:bold 18px/32px Arial;color:#FFF;font-size:17px;font-weight: bold;line-height:32px;}
.register_blk_hd span{color:#fff;line-height:32px;font:bold 14px/32px Arial;}
.align_left{float:left;padding-left:20px;}
.align_right{padding-left:5px; display: none;}
.register_blk_inner{clear:both;overflow:hidden;/*height:202px;*/background:url(../img/register_blk_bg.png) repeat;border:1px solid #908f8f;}
.register_blk_left{float:left;margin:25px 0px;width:200px;padding:25px 20px 15px 20px;border-right:3px solid #ccc;}
.register_blk_left a{display:inline-block;margin-bottom:15px;}
.register_blk_right{float:right;margin:8px 15px;width:215px;}
.register_step2 .register_blk_right{width:458px;}
.register_step2 form{margin:35px 0px 0px;}
.register_blk_right label{display:none;}
.register_step2 label{display:block;font:bold 16px/26px Arial;float:left;margin-right:5px;}
.register_blk_right p{padding-bottom:5px;color:#615f5f;font:bold 16px/30px Arial;clear:both;overflow:hidden;}
.register_blk_right input{background:#fff;height:16px;margin-bottom:5px;width:191px;border:1px solid #959494;height:29px;line-height:29px;font:bold 14px/29px Arial;color:#b7b4b6;padding:0px 10px;}
.register_step2 input[type="checkbox"]{width:auto;float:left;margin-right:5px;}
.register_step2 .align_center{margin:0px 100px;}
.register_step2 .legend_text,.fb_signin_inner .legend_text{font:normal 10px/6px Arial;clear:both;float:left;margin-left:122px;}
.fb_signin_inner .legend_text{margin-left:148px;}
.register_blk_right .modal-footer{background:none;border:0 none;box-shadow: none;padding:5px 0px;}
.register_blk_right input[type="submit"]{border:1px solid #070606;background:url("../img/btn_bg.png") repeat-x;height:29px;margin:4px 0;width:72px;color:#fff;line-height:35px;font:bold 14px/29px Arial;}
.register_step2 .register_blk_right .modal-footer p label{font-size:14px;font-weight:normal;line-height:35px;}
.register_step2 .register_blk_right .modal-footer p{margin-top:40px;}
.register_step2 .register_blk_right .modal-footer p a{text-decoration:underline;color:#333;}
.logo_prelogin{margin-top:8px;display:block;}
.feed_blk{overflow:hidden;float:left;width:240px;border:1px solid #555;height:240px;position:relative;margin:0px 3px 6px;}
.feed_blk_hd{background:rgba(0,0,0,0.6);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";width:100%;clear:both;overflow:hidden;position:absolute;left:0px;padding-top:1px;}
.feed_blk_hd h3{font:bold 25px/30px Arial;padding-left:5px;color:#fff;float:left;}
.feed_blk_hd .align_right{float:right;}
.feed_blk  .feed_blk_hd a{float:left;background:#56785c;font:normal 12px/14px Arial;border:1px solid #2d5234;margin-right:1px;color:#fff;padding:6px 10px;}
.feed_blk h4 a,.feed_blk h4,.feed_blk_footer h4{font:bold 14px/14px Arial;padding:25px 0px 0px 5px;color:#fff;}
.feed_blk h5 a,.feed_blk h5{font:normal 12px/14px Arial;padding:0px 0px 0px 5px;color:#fff;}
.feed_blk_cnt{clear:both;overflow:hidden;padding:40px 8px 8px;}
.feed_blk_cnt img{float:left;margin:0px 10px 5px 0px;}
.feed_blk p{font:normal 14px/18px Arial;color:#fff;padding-top:5px;}
.feed_blk .feed_blk_cnt p.count{position:absolute;bottom:5px;font-size:11px;}
.feed_blk.text_blk{background:#26b952;}
.feed_blk.text_blk  .feed_blk_cnt a{color:#284f34}
.feed_blk.twitter_blk{background:#059ed9 url(../img/twitter_bird.png) no-repeat bottom right;}
.feed_blk.twitter_blk .feed_blk_cnt a{color:#174f7e;}
.feed_blk.photo_blk .feed_blk_cnt{padding:0px;}
.feed_blk.photo_blk img{padding:0px;margin:0px;}
.feed_blk.song_blk{background:#f98c18}
.feed_blk.song_blk h4{padding:0px;}
.feed_blk.song_blk p{font-weight:bold;color:#000;padding:0px}
.feed_blk.song_blk img{margin:10px 0px 0px 40px;}
.feed_blk.song_blk p.groveicon img{position:absolute;right:35px;top:53px;}
.feed_blk_footer{position:absolute;bottom:0px;background-color: rgba(38,35,37,0.6);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";padding:0px 10px;}
.feed_blk_footer p{font:normal 12px/16px Arial;color:#fff;}
.feed_blk_footer img{float:left;margin-right:10px;margin-top:-25px;}
.feed_blk_footer h4{padding:5px 0px;}
.overlay{z-index:10;background:rgba(0,0,0,0.7);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";position:fixed;width:100%;height:100%;left:0%;top:0%;}
/* forgot password popup styles */
.fgt_pwd_req{position:absolute;top:22%;left:26%;width:492px;height:242px;z-index:11;}
.fgt_pwd_req .register_blk{border:1px solid #000;}
/*.fgt_pwd_req .register_blk_inner{height:185px;}*/
.fgt_pwd_req .register_blk_hd h2{float:left;padding-left:10px;}
.fgt_pwd_req .register_blk_hd h2 span{font-size:13px;}
.fgt_pwd_req .register_blk_hd span.align_left{padding:0px;line-height:0px;}
.fgt_pwd_req .register_blk_right{width:458px;}
.fgt_pwd_req .register_blk_right label{font:bold 14px/14px Arial;float:left;display:block;}
.fgt_pwd_req .register_blk_right input[type="text"]{clear:both;float:left;width:390px;height:40px;color:#bdb9b9;font:bold 18px/40px Arial;}
.fgt_pwd_req .register_blk_right form{padding:38px 23px 10px;}
.ack_req_pwd {text-align:center;clear:both;overflow:hidden;padding:35px 0px 0px 0px;}
.ack_req_pwd h3{font:bold 18px/40px Arial;color:#424242;}
.register_blk_right.ack_req_pwd  p{font-size:14px;color:#424242;}
.add_photo textarea{width:438px;height:60px;margin:0px;border:1px solid #959494;background:#fff;}
.register_blk_right#add_photo form{padding:10px 0px 0px;}
.add_photo input{float:left;}
.add_photo div{clear:both;overflow:hidden;}
.sqwag_popup .register_blk_inner{height:auto;}
.sqwag_popup label{font:bold 12px/16px Arial;color:#424242;margin:0px;}
span.letter_count{float:right;font:bold 10px/16px Arial;}
.share_this{float:left;width:62px;text-align:center;}
.share_this p{font:bold 11px/11px Arial;color:#5b5c5b;}
.share_this a{margin:0px 5px;}
.sqwag_popup .register_blk_right{margin-bottom:0px;width:auto;}
.sqwag_popup textarea{width:438px;height:110px;margin:0px;border:1px solid #959494;background:#fff;}
.align_right_hd{padding-left:10px;float:left;}
.align_left_hd,.register_blk_hd span.align_left_hd{padding:0px;float:left;line-height:10px;}
.sqwag_popup{width:480px;display:none;}
.sqwag_popup div{clear:both;overflow:hidden;}
.sqwag_popup .register_blk_right label,.fgt_pwd_req .align_right{display:block;}
.sqwag_popup #add_video label.position_right{float:left;line-height:30px;padding:0px 10px 10px 50px;font-size:14px;}
.sqwag_popup .register_blk_right input[type="text"]{width:269px;}
.fb_signin_inner{clear:both;overflow:hidden;}
.fgt_pwd_req .register_blk_right.fb_signin_inner input[type="text"],.fgt_pwd_req .register_blk_right.fb_signin_inner input[type="password"]{clear:none;float:left;width:222px;height:29px;color:#bdb9b9;font:bold 14px/29px Arial;}
.fgt_pwd_req .register_blk_right.fb_signin_inner input[type="password"],#twt_email{margin-left:20px;}
#twt_email{margin-bottom:15px;}
.modal-footer{overflow:hidden;clear:both;}
.fb_signin_inner .align_center{margin:0px 83px;}
.register_blk_right input[type="checkbox"]{width:auto;}
.register_step2 .fb_signin_inner form{margin:0px;padding:20px 0px 0px;}
.register_step2 .register_blk_right.fb_signin_inner .modal-footer p{margin-top:10px;}
.fgt_pwd_req .register_blk_right.fb_signin_inner  label{line-height:26px;}