<div id="sqwag-list-id" class="sqwag-list row">
      <script id="tweet" type="text/html">
      <div class="span3">
      	<div class="sqwag sq-{{ content_type }}">
          <div class="island">
            <div class="mask">
              <span class="sqwag-count">{{ shared_count }}</span>
              <div class="buttons-group fr">
                <button>send</button><button data-id="{{ id }}" class="resqwag">sqwag</button>
              </div>
            </div>
          	<div class="hd">
          		<div class="media">
                <img class="media-obj avatar" src="{{ user_account.account_pic }}" alt=""/>
                <div class="media-bd">
                  <ul class="no-bullet">
                    <li class="fullname">{{ user_account.account_handle }}</li>
                    <li class="twitter-handle"><a href="#">@{{  user_account.account_handle }}</a></li>
                  </ul>
                </div>
              </div>
          	</div>
          	<div class="bd">
          	  <p class="tweet-text">{{ content_data }}</p>
          	</div>
          	<div class="ft">
              <div class="media">
              	<div class="media-bd">
                  <span class="pub-time" data-time="{{ date_created }}">{{ date_created }}</span>
                  <ul class="action-links">
                    <li><a href="#">reply</a></li>
                    <li><a href="#">retweet</a></li>
                    <li><a href="#">favorite</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </script>
      
      <script id="text" type="text/html">
      <div class="span3">
      	<div class="sqwag sq-{{ content_type }}">
          <div class="island">
            <div class="mask">
              <span class="sqwag-count">{{ shared_count }}</span>
              <div class="buttons-group fr">
                <button>send</button><button data-id="{{ id }}" class="resqwag">sqwag</button>
              </div>
            </div>
          	<div class="hd">
          		<div class="media">
                <img class="media-obj avatar" src="{{ user_account.account_pic }}" alt=""/>
              </div>
          	</div>
          	<div class="bd">
          	  <p class="tweet-text">{{ content_data }}</p>
          	</div>
          	<div class="ft">
              <div class="media">
              	<div class="media-bd">
                  <span class="pub-time" data-time="{{ date_created }}">{{ date_created }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </script>

      <script id="image" type="text/html">
      <div class="span3">
        <div class="sqwag sq-{{ content_type }}">
          <div class="island">
            <div class="mask">
              <span class="sqwag-count">{{ shared_count }}</span>
              <div class="buttons-group fr">
                <button>send</button><button data-id="{{ id }}" class="resqwag">sqwag</button>
              </div>
            </div>
            <div class="bd">
              <img class="media-obj image-sqwag" src="{{ content_data }}" alt="" width="220"/>
            </div>
            <div class="ft">
              <div class="media">
                <div class="media-bd">
                  <span class="pub-time" data-time="{{ date_created }}">{{ date_created }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </script>
	  </div>