<div id="sqwag-list-id" class="sqwag-list row">
  <script id="tweet" type="text/html">
    <div class="feed_blk twitter_blk">
      <div class="feed_blk_hd">
          <h3>{{ square.shared_count }}</h3>
          <div class="align_right">
              <a href="#" >Send</a>
              <a href="#" data-id="{{ user_square.id }}" class="resqwag">Sqwag!</a>
          </div>
      </div><!-- feed_blk_hd -->  
      <div class="feed_blk_cnt">
          <img src="{{ square.complete_user.user_accounts.account_pic }}" width=52px height=52px />
          <h4>{{ square.complete_user.user_accounts.account_handle }}</h4>
          <h5>@{{  square.complete_user.user_accounts.account_handle }}</h5>
          <p>{{ square.content_data }}</p>
          <p class="count pub-time" data-time="{{ square.date_created }}">{{ square.date_created }}</p>
      </div><!-- feed_blk_cnt --> 
    </div><!-- feed_blk --> 
  </script>
  
  <script id="text" type="text/html">
    <div class="feed_blk text_blk">
      <div class="feed_blk_hd">
        <h3>{{ square.shared_count }}</h3>
        <div class="align_right">
          <a href="">Send</a>
          <a href="#" data-id="{{ user_square.id }}" class="resqwag">Sqwag!</a>
        </div>
      </div><!-- feed_blk_hd -->  
      <div class="feed_blk_cnt">
        <img src="{{ square.complete_user.user_accounts.account_pic }}" width=52px height=52px />
        <h4>{{ square.complete_user.user_profile.displayname }}</h4>
        <h5>@{{  square.complete_user.user_profile.username }}</h5>
        <p>{{ square.content_data }}</p>
        <p class="count pub-time" data-time="{{ square.date_created }}">{{ square.date_created }}</p>
      </div><!-- feed_blk_cnt --> 
    </div><!-- feed_blk -->   
  </script>

  <script id="user" type="text/html">
    <div class="span3">
      <div class="sqwag sq-user">
        <div class="island">
          <div class="mask">
            <span class="sqwag-count"></span>
            <div class="buttons-group fr">
              <button>send</button><button data-id="{{ user.id }}" class="resqwag">sqwag</button>
            </div>
          </div>
          <div class="hd">
            <h2 class="username">{{ user_profile.displayname}}</hwo2>
            <h3 class="handle">@{{ user_profile.username}}</h3>
          </div>
          <div class="bd">
            <div class="media">
              <div class="media-obj"><img src="{{ user_profile.sqwag_image_url}}" /></div>
              <div class="media-bd">
                <ul class="no-bullet sqwag-info">
                  <li><span class="value">{{ user_profile.sqwag_count}}</span> sqwag</li>
                  <li><span class="value">{{ user_profile.following_count}}</span> sqwaggin</li>
                  <li><span class="value">{{ user_profile.followed_by_count}}</span> sqwaggers</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ft">
            <p>{{ user_profile.personal_message}}</p>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="image" type="text/html">
    <div class="feed_blk photo_blk">
      <div class="feed_blk_hd">
          <h3>{{ square.shared_count }}</h3>
          <div class="align_right">
              <a href="#">Send</a>
              <a href="#" data-id="{{ user_square.id }}" class="resqwag">Sqwag!</a>
          </div>
      </div><!-- feed_blk_hd -->  
      <div class="feed_blk_cnt">
          <img src="{{ square.content_data }}"  />                 
      </div><!-- feed_blk_cnt --> 
    </div><!-- feed_blk --> 
  </script>

  <script id="song" type="text/html">
    <div class="feed_blk song_blk">
      <div class="feed_blk_hd">
        <h3>{{ square.shared_count }}</h3>
        <div class="align_right">
          <a href="">Send</a>
          <a href="#" data-id="{{ user_square.id }}" class="resqwag">Sqwag!</a>
        </div>
      </div><!-- feed_blk_hd -->  
      <div class="feed_blk_cnt">
        <h4>Scream</h4>
        <p>usher</p>
        <img src="assets/img/usher.png" />
        <p class="groveicon"><img src="assets/img/grove.png" /></p>
      </div><!-- feed_blk_cnt --> 
    </div><!-- feed_blk -->
  </script>

  <script id="video" type="text/html">
    <div class="feed_blk photo_blk">
        <div class="feed_blk_hd">
          <h3>{{ square.shared_count }}</h3>
          <div class="align_right">
            <a href="">Send</a>
            <a href="#" data-id="{{ user_square.id }}" class="resqwag">Sqwag!</a>
          </div>
        </div><!-- feed_blk_hd -->  
        <div class="feed_blk_cnt">
          <img src="assets/img/photo_video.png"  /> 
        </div><!-- feed_blk_cnt --> 
      </div><!-- feed_blk -->       
    </div><!-- cnt_wrap -->
    </div><!-- landing_pg_wrap -->  
      </div><!-- content -->
    </div><!-- main --> 
  </script>
</div>