<form action="" method="post">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h1>create square</h1>
  </div>
  <div class="modal-body">
    <div class="form-controls">
      <label for="sq-data">data</label>
      <textarea type="text" id="sq-data" name="content_data" placeholder="What do you want to say?" required></textarea>
    </div>
    <div class="form-controls">
      <label for="sq-data">description</label>
      <input type="text" id="sq-data" name="content_description" required />
    </div>
    <div class="form-controls">
      <label>square type</label>
      <div class="controls">
        <label class="radio">
          <input type="radio" name="content_type" value="text" />
          text
        </label>
      </div>
    </div>
    <input type="hidden" name="content_src" value="twitter"/>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Add sqwag" />
  </div>
</form>