<div id="sqwag-bar">
	<div class="row">
		<div class="span6 offset6">
			<ul class="inline-list">
				<li><button>Sqwag me</button></li>
				<li class="sqwag-count-wrap"><span id="sqwag" class="sqwag-count">324</span> Sqwags</li>
				<li class="sqwag-count-wrap"><span id="sqwagging" class="sqwag-count">23,034</span> Sqwagging</li>
				<li class="sqwag-count-wrap"><span id="sqwaggers" class="sqwag-count">354,243</span> Sqwaggers</li>
			</ul>
		</div>
	</div>
</div>
<div id="profile">
<div class="span6">
  <div class="sqwag sq-profile">
  	<div class="media">
  		<img class="media-obj profile-pic" src="http://placehold.it/160x160" alt="Florent" />
  		<div class="media-bd profile-hd">
  			<h2 id="displayname_cover">Florent Ferere </h2>
            <span id="username_cover" class="username tagline">@florent</span>
  		</div>
  	</div>
  	<p>Hi, my name is Florent! Welcome to Sqwag</p>
  </div>
</div>
</div>