<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Sqwag</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

  
</head>
<body>
<div class="container">
	<header>
    <!-- TODO: figure out a better way. This is jugaad -->
    <a id="feed"></a>
    
	</header>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="sprite nav pull-left">
          {% if complete_user %}
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="create-feed">Create <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#sqwag-text-form" data-toggle="modal">text</a></li>
              <li><a href="#sqwag-image-form" data-toggle="modal">image</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a class="js-load" href="#feed" id="home">Feed</a>
          </li>
          <li>
            <a class="js-load" href="#myfeed" id="myfeed">My sqwags</a>
          </li>
          <li>
            <a class="js-load" href="#topsqwags" id="topsqwags">Top Sqwags</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <div class="media user-card">
              <a class="media-obj-alt"><img src="{{user_image_url }}" /></a>
              <div class="media-bd">
                {% if complete_user.user_profile.displayname %}
                <h2>{{complete_user.user_profile.displayname }}</h2>
                {% else %}
                <h2>{{complete_user.user.username }}</h2>
                {% endif %}
                <div class=""><span class="profile-link">@{{complete_user.user.username }}</span> (<a href="sqwag/logout" class="js-link">Sign Out</a>)</div>
              </div>
            </div>
          </li>



          {% else %}
          <ul class="nav">
          <li>
            <a href="#register-form" data-toggle="modal">Register</a>
          </li>
          <li>
            <a href="#login-form" data-toggle="modal">Login</a>
          </li>
        </ul>
          {% endif %}
        </ul>
        <div class="logo"><a class="js-load" href="#feed"><img src="assets/img/logo.png" /></a></div>
      </div>
    </div>
  </div>
	<div role="main">
    <div class="modal hide" id="register-form">
      <form action="" method="post">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h1>Create a Sqwag account</h1>
        </div>
        <div class="modal-body">
        	<div class="form-controls">
        	  <label for="username">Username</label>
        	  <input class="input" type="text" name="username" id="username" required />
        	</div>
        	<div class="form-controls">
        	  <label for="password">Password</label>
        	  <input type="password" name="password" id="password" required />
        	</div>
        	<div class="form-controls">
        	  <label for="email">Email</label>
        	  <input type="email" name="email" id="email" required />
        	</div>
        </div>
        <div class="modal-footer">
        	<input class="btn btn-primary" type="submit" value="register" />
        </div>
      </form>
    </div>
    
    <div class="modal hide" id="login-form">
      <form action="" method="post">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h1>Login</h1>
        </div>
        <div class="modal-body">
          <div class="form-controls">
            <label>Username</label>
            <input type="text" name="username"/>
          </div>
          <div class="form-controls">
            <label>Password</label>
            <input type="password" name="password"/>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="login" />
        </div>
      </form>
    </div>
    
    <div class="modal hide sqwag-form" id="sqwag-text-form">
      <form action="/api/square/create/" method="post">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h1>create square</h1>
        </div>
        <div class="modal-body">
          <div class="form-controls">
            <label for="sq-data">data</label>
            <textarea type="text" id="sq-data" name="content_data" placeholder="What do you want to say?" required></textarea>
          </div>
          <div class="form-controls">
            <label for="sq-data">description</label>
            <input type="text" id="sq-data" name="content_description" required />
          </div>
          <input type="hidden" name="content_type" value="text" />
          <input type="hidden" name="content_src" value="text"/>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Add sqwag" />
        </div>
      </form>
    </div>
    
    <div class="modal hide" id="sqwag-image-form">
      <form enctype="multipart/form-data" method="post" action="/api/imagesquare/create/">
		<div class="modal-header">
          <h1>create square</h1>
        </div>
        	<div class="modal-body">
        		<div class="form-controls">
        		  <label for="imagefile">chose Image</label>
        		  <input id "imagefile" type="file" name="content_file" />
        		</div>
        		<div class="form-controls">
        		            <label for="sq-data">data</label>
        		            <textarea type="text" id="sq-data" name="content_data" placeholder="What do you want to say?" required></textarea>
        		          </div>
        		          <div class="form-controls">
        		            <label for="sq-data">description</label>
        		            <input type="text" id="sq-data" name="content_description" required />
        		          </div>
                      <input type="hidden" name="content_type" value="image" />
        		          <input type="hidden" name="content_src" value="image"/>
        	</div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Add sqwag" />
        </div>
      </form>
        </div>
    
    <p id="console" class="alert alert-info hidden"></p>
    
    <div id="main">      
      <div id="content">
      </div>
    </div>
    
	</div>
	<footer>
    <p class="copyright">&copy; 2012. Sqwag inc.</p>
	</footer>
</div>

<script src="assets/js/libs/jquery-1.7.2.min.js"></script>
<script src="assets/js/libs/bootstrap-modal.min.js"></script>
<script src="assets/js/libs/bootstrap-dropdown.js"></script>
<script src="assets/js/libs/jquery.form.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/router.js"></script>
<script src="assets/js/smart_date.js"></script>
<script src="assets/js/libs/underscore-min.js"></script>
<script src="assets/js/libs/backbone-min.js"></script>
<script src="assets/js/libs/ICanHaz.min.js"></script>
<script src="assets/js/script.js"></script>

<script>

$(document).ready(function() {
  
  var context = {
      "router" :router,
      "route": "home",
      "backbone": bb,
  };

  {% if complete_user %}
    options = {
      "route":"home",
    };
  {% else %}
    options = {
      "route":"publicfeed",
    };
  {% endif %}
  $.extend(context,options);
  SQ.init(context);

});
</script>
</body>
</html>